<table class="table table-hover">
    <thead>
    <tr>
        <th colspan="2">用户信息</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>用户ID</td>
        <td>{:session('member.id')}</td>
    </tr>
    <tr>
        <td>当前登录方式</td>
        <td>{:session('member.logintype')}</td>
    </tr>
    {switch :session('member.logintype')}
    {case 'username'}
    <tr>
        <td>用户名</td>
        <td>{:session('member.username')}</td>
    </tr>
    {/case}
    {/switch}
    <tr>
        <td>昵称</td>
        <td>{:session('member.nickname')}</td>
    </tr>
    </tbody>
</table>