<table class="table table-hover">
    <thead>
    <tr>
        <th colspan="2">用户信息</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>用户ID</td>
        <td>{:session('member.id')}</td>
        {switch :session('member.logintype')}
        {case username}
    </tr>
    <tr>
        <td>当前登录方式</td>
        <td>用户名登录</td>
    </tr>
    <tr>
        <td>用户名</td>
        <td><a href="{:url('username')}">{:session('member.username')}</a></td>
    </tr>
    {/case}
    {/switch}
    <tr>
        <td>昵称</td>
        <td><a href="{:url('nickname')}">{:session('member.nickname')}</a></td>
    </tr>
    <tr>
        <td>登录时间</td>
        <td>{:session('member.logindatetime')}</td>
    </tr>
    <tr>
        <td>在线</td>
        <td>{:timeToStr(time() - session('member.logintime'))}</td>
    </tr>
    </tbody>
</table>