{include file='common@public/head,common@public/top' /}
<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn-group">
                    <a href="#username" class="btn btn-register">用户名注册</a>
                    <a href="#mobile" class="btn btn-register">手机注册</a>
                    <a href="#email" class="btn btn-register">邮箱注册</a>
                </div>
            </div>
            <form id="usernameForm" style="display: none">
                <div class="modal-body">
                    <div class="form-group form-row">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">　用户名</div>
                            </div>
                            <input type="text" name="username" class="form-control" placeholder="用户名" required>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">　　密码</div>
                            </div>
                            <input type="password" name="password" class="form-control" placeholder="密码" required>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">重复密码</div>
                            </div>
                            <input type="password" name="password2" class="form-control" placeholder="重复密码" required>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">　　性别</div>
                            </div>
                            <div class="form-control">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="sex" value="0" id="sex0" checked>
                                    <label class="custom-control-label" for="sex0">保密</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="sex" value="1" id="sex1">
                                    <label class="custom-control-label" for="sex1">男</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="sex" value="2" id="sex2">
                                    <label class="custom-control-label" for="sex2">女</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row small" id="usernameFormErr" style="color: red"></div>
                </div>
                <div class="modal-footer">
                    <a href="{:url('@index/member/login')}#username" class="btn btn-link btn-sm">已有用户名?立刻登录!</a>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            </form>
            <script>
                var usernameForm = $('#usernameForm');
                usernameForm.on('submit', function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: '{:url("@index/member/usernameregister")}',
                        type: 'post',
                        data: usernameForm.serialize(),
                        dataType: 'json',
                        success: function (r) {
                            if (r.status) {
                                location.href = '{:url("@index/member")}';
                            } else {
                                $('#usernameFormErr').html(r.msg + '[' + r.code + ']');
                            }
                        }
                    });
                });
            </script>
            <form id="mobileForm" style="display: none">
                <div class="modal-body">
                    <div class="form-group form-row">
                        <div class="input-group">
                            <div class="form-control is-invalid">维护中……</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </form>
            <script>
                var mobileForm = $('#mobileForm');
            </script>
            <form id="emailForm" style="display: none">
                <div class="modal-body">
                    <div class="form-group form-row">
                        <div class="input-group">
                            <div class="form-control is-invalid">维护中……</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </form>
            <script>
                var emailForm = $('#emailForm');
            </script>
        </div>
    </div>
</div>
<script>
    var myhashchange = function () {
        var hash = location.hash.replace('#', '');
        var btnRegister = $('.btn-register');
        btnRegister.removeClass('btn-primary').addClass('btn-secondary');
        var formRegister = btnRegister.parents('.modal-header').nextAll('form');
        formRegister.hide();
        switch (hash) {
            case 'username':
                btnRegister.eq(0).removeClass('btn-secondary').addClass('btn-primary');
                formRegister.eq(0).show();
                break;
            case 'mobile':
                btnRegister.eq(1).removeClass('btn-secondary').addClass('btn-primary');
                formRegister.eq(1).show();
                break;
            case 'email':
                btnRegister.eq(2).removeClass('btn-secondary').addClass('btn-primary');
                formRegister.eq(2).show();
                break;
            default:
                if (isMobile) {
                    btnRegister.eq(1).removeClass('btn-secondary').addClass('btn-primary');
                    formRegister.eq(1).show();
                } else {
                    btnRegister.eq(0).removeClass('btn-secondary').addClass('btn-primary');
                    formRegister.eq(0).show();
                }
                break;
        }
    };
    myhashchange();
    window.onhashchange = function () {
        myhashchange();
    };
</script>
{include file='common@public/foot' /}